{% layout "base" %} {% block content %}

<h1>Reset your {{url}} password</h1>

<p style="padding-bottom: 30px">
Do you really want to do this?
</p>



<p style="padding-top: 30px">Important: This link will expire in 24 hours.</p>

{% endblock %}