
<h1>Reset your account password</h1>

<p>Hi there, you requested to change your password on our platform, here is a ink to reset your password below</p>
<p>
  <a href={{url}} target="_blank" rel="noopener noreferrer">Reset my password</a>
</p>

<p style="padding-top: 30px">Important: This link will expire in 24 hours.</p>